CLOUDFLARE_ANALYTICS_ENDPOINT=https://api.cloudflare.com/client/v4/graphql
CF_ZONE=
CF_API_TOKEN=
PERMA_DAILY_LINK_COUNTS_ENDPOINT=https://api.perma-stage.org/v1/internal/daily_link_counts/
PERMA_API_KEY=
DAILY_LINK_LOOKBACK_DAYS=7
REQUEST_TIMEOUT=10
